/*
 * Secrets : stuff you don't want published.
 *
 * (c) Copyright 2018, 2019, 2020 by Danny Backx
 */

/* My WiFi data */
#define MY_SSID_1		"my-ssid"
#define MY_WIFI_PASSWORD_1	"abcde"
#define MY_WIFI_BSSID_1		"01:23:45:67:89:ab"

#define MY_SSID_2		"my-fallback-ssid"
#define MY_WIFI_PASSWORD_2	"abcdefgh"

#define MY_SSID_3		"anotherssid"
#define MY_WIFI_PASSWORD_3	""
#define MY_WIFI_BSSID_3		NULL

/* NTP server */
#define	NTP_SERVER_0	"pool.ntp.org"
#define	NTP_SERVER_1	"1.pool.ntp.org"

/* My MQTT server */
#define		MQTT_URI	"mqtt://mqttserver.dyndns.org"

/* Wunderground */
#define	WUNDERGROUND_API_KEY	"please get a key"
#define	WUNDERGROUND_COUNTRY	"BE"
#define	WUNDERGROUND_CITY	"Brussels"

/* ThingSpeak */
#define	TS_CHANNEL_ID	/* Get your own */	1234
#define	TS_WRITE_KEY	"abcde"
#define	TS_READ_KEY	"abcde"

/* Web Server is Secure, use at your own risk */
#undef	WEB_SERVER_IS_SECURE

/* Sensors */
#define	SENSOR_1_ID	0x00000000
#define	SENSOR_1_NAME	""
#define	SENSOR_1_ZONE	""

#define	SENSOR_2_ID	0x00000000
#define	SENSOR_2_NAME	""
#define	SENSOR_2_ZONE	""

#define	SENSOR_3_ID	0x00000000
#define	SENSOR_3_NAME	""
#define	SENSOR_3_ZONE	""

#define	SENSOR_4_ID	0x00000000
#define	SENSOR_4_NAME	""
#define	SENSOR_4_ZONE	""

#define	SENSOR_5_ID	0x00000000
#define	SENSOR_5_NAME	""
#define	SENSOR_5_ZONE	""

#define	SENSOR_6_ID	0x00000000
#define	SENSOR_6_NAME	""
#define	SENSOR_6_ZONE	""

#define	SENSOR_7_ID	0x00000000
#define	SENSOR_7_NAME	""
#define	SENSOR_7_ZONE	""

#define	SENSOR_8_ID	0x00000000
#define	SENSOR_8_NAME	""
#define	SENSOR_8_ZONE	""

#define	SENSOR_9_ID	0x00000000
#define	SENSOR_9_NAME	""
#define	SENSOR_9_ZONE	""

#define	SENSOR_10_ID	0x00000000
#define	SENSOR_10_NAME	""
#define	SENSOR_10_ZONE	""

#define	SENSOR_11_ID	0x00000000
#define	SENSOR_11_NAME	""
#define	SENSOR_11_ZONE	""

#define	SENSOR_12_ID	0x00000000
#define	SENSOR_12_NAME	""
#define	SENSOR_12_ZONE	""

#define	SENSOR_13_ID	0x00000000
#define	SENSOR_13_NAME	""
#define	SENSOR_13_ZONE	""

#define	SENSOR_14_ID	0x00000000
#define	SENSOR_14_NAME	""
#define	SENSOR_14_ZONE	""

#define	SENSOR_15_ID	0x00000000
#define	SENSOR_15_NAME	""
#define	SENSOR_15_ZONE	""

/* Modules */
#define	MODULES_CONFIG_STRING \
  { "30:ae:a4:12:34:56",							\
    "{ \"name\" : \"ESP32 Prototype\", \"haveOled\" : true, \"oledLedPin\" : 5,	\
       \"weather\" : true, \"radioPin\" : 22,					\
       \"i2cSdaPin\" : 26, \"i2cSclPin\" : 27,					\
       \"run_acme\" : true, \"run_ftp\" : true,					\
       \"webserver_port\" : 8081, \"jsonserver_port\" : 1234,			\
       \"ftp_user\" : \"you\",							\
       \"acme_user_private_key_file\" : \"privatekey.pem\",			\
       \"acme_server_url\" : \"https://acme-staging-v02.api.letsencrypt.org/directory\",	\
       \"acme_url\" : \"yourdomain.hopto.org\",					\
       \"acme_email_address\" : \"mailto:you@yourdomain.hopto.org\",		\
     }"										\
  },										\
  { "18:FE:34:12:34:56",							\
    "{ \"name\" : \"Controller with Radio\", \"radioPin\" : 4 }"		\
  },

/* RFID cards */
#define	RFID_1_ID	"12 34 56 6A 12 34 56"
#define	RFID_1_NAME	"Blauw hangerke"

#define	RFID_2_ID	"12 34 56 12 34 56 80"
#define	RFID_2_NAME	"Madrid metro pass"

#define	RFID_3_ID	""
#define	RFID_3_NAME	""

#define	RFID_4_ID	""
#define	RFID_4_NAME	""

#define	RFID_5_ID	""
#define	RFID_5_NAME	""

#define	RFID_6_ID	""
#define	RFID_6_NAME	""

/*
 * Whitelist devices that can access us by IP or MAC address.
 * Define more (up to 8 currently supported) if you want...
 */
#define	SECURE_WHITELIST_1_MAC	"12:34:56:78:9a:bc"
#define	SECURE_WHITELIST_2_IP	"10.11.12.13"
#define	SECURE_WHITELIST_3_MAC	"ab:cd:ef:01:23:45"

#define ACME_DEFAULT_EMAIL_ADDRESS	"me@home.us"
#define	ACME_DEFAULT_URL		"home.dyndns.org"
#define	ACME_DEFAULT_SERVER_URL		"https://acme-staging-v02.api.letsencrypt.org/directory"
