/* Secrets */

// My WiFi data
#define MY_SSID_1		"your-ssid"
#define MY_WIFI_PASSWORD_1	"password"
#define MY_SSID_2		"your-ssid"
#define MY_WIFI_PASSWORD_2	"password"
#define MY_SSID_3		"your-ssid"
#define MY_WIFI_PASSWORD_3	"password"

// Wunderground
#define	WUNDERGROUND_API_KEY	"get this from their site"
#define	WUNDERGROUND_COUNTRY	"country-code-2digit"
#define	WUNDERGROUND_CITY	"where-you-live"

// Wunderground data for my station
#define	WU_MY_STATION_ID	"your station id"
#define	WU_MY_STATION_PASS	"your station key"

// These are fairly general
#define	WU_UPDATE_HOST		"rtupdate.wunderground.com"
#define	HTTPS_PORT		443

#define	OTA_ID			"OTA-GardenSensor"
#define	OTA_PORT		8266

/* My MQTT server */
#define	MQTT_HOST		"your-name.noip.com"	// Point to your MQTT server
#define	MQTT_PORT		12345			// Configure your router for this

#define	MQTT_TOPIC		"/weather"
#define	MQTT_CLIENT		"Weather Station"

// This works for most of Western Europe
#define	MY_TIMEZONE		+1
