/* Secrets */

/* My WiFi data */
#define MY_SSID_1		"fill"
#define MY_WIFI_PASSWORD_1	"this"
#define MY_SSID_2		"out"
#define MY_WIFI_PASSWORD_2	"with"
#define MY_SSID_3		"your"
#define MY_WIFI_PASSWORD_3	"actual"
#define MY_SSID_4		"secret"
#define MY_WIFI_PASSWORD_4	"data"
#define MY_SSID_5		NULL	// or nulls if you're out of access points
#define MY_WIFI_PASSWORD_5	NULL

/* My MQTT server */
#define	MQTT_HOST	"192.168.1.2"
#define	MQTT_PORT	1883
