/* Secrets */

/* My WiFi data */
#define MY_SSID_1		"my-ssid"
#define MY_WIFI_PASSWORD_1	"password for it"
#define MY_WIFI_BSSID_1		NULL

#define MY_SSID_2		"second ssid"
#define MY_WIFI_PASSWORD_2	"pass"
#define MY_WIFI_BSSID_2		"specific mac address"

#define MY_SSID_3		NULL
#define MY_WIFI_PASSWORD_3	NULL
#define MY_WIFI_BSSID_3		NULL

#define MY_SSID_4		NULL
#define MY_WIFI_PASSWORD_4	NULL
#define MY_WIFI_BSSID_4		NULL

/* NTP server */
#define	NTP_SERVER_0	"0.be.pool.ntp.org"
#define	NTP_SERVER_1	"1.be.pool.ntp.org"

/* My MQTT server - local definition, no need to reach it from the outside world in this project */
#define		MQTT_URI		"mqtt://192.168.1.2"

