/* Secrets */

/* My WiFi data */
#define WIFI_1_SSID		"my ssid"
#define WIFI_1_PASSWORD		"Password"
#define WIFI_1_BSSID		NULL
#define WIFI_1_NAT		true
#define	WIFI_1_EAP_IDENTITY	NULL
#define	WIFI_1_EAP_PASSWORD	NULL

#define WIFI_2_SSID		"alternate-wifi"
#define WIFI_2_PASSWORD		"secret"
#define WIFI_2_BSSID		NULL
#define WIFI_2_NAT		true
#define	WIFI_2_EAP_IDENTITY	NULL
#define	WIFI_2_EAP_PASSWORD	NULL

/* NTP server */
#define	NTP_SERVER_0	"0.pool.ntp.org"
#define	NTP_SERVER_1	"1.pool.ntp.org"

/* My MQTT server - local definition, no need to reach it from the outside world in this project */
#define		MQTT_URI		"mqtt://192.168.1.2"
