/*
 * Copyright (c) 2016 Danny Backx
 *
 * License (MIT license):
 *   Permission is hereby granted, free of charge, to any person obtaining a copy
 *   of this software and associated documentation files (the "Software"), to deal
 *   in the Software without restriction, including without limitation the rights
 *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *   copies of the Software, and to permit persons to whom the Software is
 *   furnished to do so, subject to the following conditions:
 *
 *   The above copyright notice and this permission notice shall be included in
 *   all copies or substantial portions of the Software.
 *
 *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *   THE SOFTWARE.
 */
extern int mywifi();
extern int external_network;

#define	MY_MQTT_USER		"userid-for-mqtt"
#define	MY_MQTT_PASSWORD	"paswordformqtt"

/*
 * SSID
 * Password for network access
 * Whether this is external to my home network
 */
#define	MY_SSID_1	"my-ssid-at-home"
#define	MY_WIFI_PASS_1	"abcde"
#define	MY_WIFI_EXT_1	0

#define	MY_SSID_2	"MyTownFreeWifi"
#define	MY_WIFI_PASS_2	"TheFreeWifiPassword"
#define	MY_WIFI_EXT_2	1

/* You can specify up to 5 of these */

/*
 * Externally visible address (FQDN) of my MQTT broker
 * Use these if we're external to my home network
 */
#define	MQTT_EXT_SERVER	"my.ddns.org"
#define MQTT_EXT_PORT	1883

#define	MQTT_INT_SERVER	"192.168.1.185"
#define MQTT_INT_PORT	1883

/*
 * Thingspeak
 *
 * Periodic reports of measured values and events to your ThingSpeak channel.
 * Undefine these macros to disable the functionality.
 */
#define	THINGSPEAK_CHANNEL	1
#define	THINGSPEAK_READ		"abc"
#define	THINGSPEAK_WRITE	"def"

/*
 * IFTTT : trigger events from this device
 *
 * You need to make your own key on https://maker.ifttt.com and copy it here.
 * You'll also need to create your trigger, based on the "Maker" event.
 * Can be tested with e.g. curl -X POST https://maker.ifttt.com/trigger/{event}/with/key/{key}
 */
#define IFTTT_KEY	"abcde"
#define	IFTTT_EVENT	"fghij"
